

@font-face {
    font-family: 'Hankc';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff') format('woff');
}


p,
li {
    font-size: 1.2rem;
    line-height: 2rem;
}



/* by leezche */
.header_ai {
    text-align: center;
    background: url("images/ai_header_bg.png") repeat-x top;        
}
.header_ai .wrap{
        position: relative;
        display: inline-block;
}

.header_ai .title {
    text-align: center;
}

.link {
    padding:0;
    text-align: center;
    position: absolute;
    right: 5rem;
    top: 18rem;
}

.link a {
    color:#fff;
    font-weight: normal;
}


/* end by leezche */


h2 {
    font-family: 'Hankc', serif !important;
    font-weight: 400;
}

h2.ui.header {
    display: inline-block;
    font-weight: normal;
    border-bottom: 3px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

iframe {
    margin: auto;
}



.ui.grid.segment {
    padding: 5rem 2rem;

}


.line {
    border-top: 2px dashed #283640;
    width: 100%;
    margin: 6rem 0;
}



.ui .column {
    padding: 0 !important;
}

#register{
    border:none;
}


.mov {
    width: 640px;
    margin: 3rem auto 0 auto;
}


img.illustrate {
    max-width: 200px;
    margin: 8rem 0 8rem 0;
}

img.illustrate.small {
    width: 100px;
    margin-right: 357px;
}


.illustrate #graph {
    width: 500px;
}

.infographic {
    text-align: center;
}

.infographic img {
    margin-top: 2rem;
    max-width: 90%;
}

.video-container-root {
    max-width: 640px;
    margin: 10rem auto;
    margin-left: 0;
}

.video-container {
    max-width: 640px;
    padding-top: 56.25%;
    /* 1:1 Aspect Ratio */
    position: relative;
    /* If you want text inside of it */
    border: 3px solid #8080804f;
}


.video-container iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


@media only screen and (max-width: 723px) {
    .header_ai {
        background: none;        
    }

    .title img {
        width: 100%;
    }

    .link {
        right: 1rem;
        top: 9.5rem;
    }

}

@media only screen and (max-width: 516px) {
    p {
        font-size: 1.1rem;
    }

    body {
        background-size: 200% auto;
    }

    .icons li {
        margin: 0.2rem;
        font-size: 1.2rem;
    }

    img.illustrate {
        width: 100%;
    }

}

.supporter {
    padding-right: 10rem;
}

.supporter .name {
    margin-bottom: 0;
}

.supporter .profile {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.supporter .tech {
    font-size: 0.9rem;
}

.btn {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Hankc', serif;
    color: white;
    padding: 20px;
    padding-top: 25px;
    margin: 20px;
    margin-left:0;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.1s;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align:center;
}

.btn:hover {
    color: white;
}

.btn:active {
    transform: translateY(3px);
}

.btn.blue {
    background-color: #09f;
    border-bottom: 5px solid #06c;
}

.btn.blue:active {
    border-bottom: 2px solid #06c;
}

.btn.orange {
    background-color: #f60;
    border-bottom: 5px solid #c60;
}

.btn.orange:active {
    border-bottom: 2px solid #c60;
}

.btn.black {
    background-color: #333;
    border-bottom: 5px solid black;
}
.btn.black:active {
    border-bottom: 2px solid #black;
}

.btn.red {
    background-color: #ff521e;
    border-bottom: 5px solid #c1370e;
}

.btn.red:active {
    border-bottom: 2px solid #c1370e;
}

.btn .sub{
    margin-top: 0.3rem;
    font-size: 1.25rem;
}